body {
    background-color:rgb(157, 199, 218);
    color: #1c2b34;
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

header {
    background-color: #2f4858;
    color: #e6f0f5;
    flex: 0 80px;
}

main {
    background-color: #9fbfcd;
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

footer {
  flex: 0 30px;
}

menu {
  flex: 1;
  display: flex;

  flex-direction: row !important;
  list-style: none;
}

.navbar-brand {
  padding-left: 0.3em;
  border-bottom: solid rgb(182, 182, 182) thin;
}

menu .nav-item {
  padding: 0 0.3em;
}

