body {
    background-color:rgb(157, 199, 218);
    color: #1c2b34;
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

header {
    padding-top: 2em;
    background-color: #2f4858;
    color: #e6f0f5;
    flex: 0 80px;
}

main {
    background-color: #9fbfcd;
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.central-panel {
  padding: 2em;
  background-color: #9fbfcd;
  width: min(520px);
  border: 2px solid rgba(255, 255, 255, 0.45);
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.18);

  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  text-align: center;
}

.btn {
    background-color: rgba(255, 255, 255, 0.45);
}

footer {
    flex: 0 30px;
    background-color: #2f4858;
    color: #e6f0f5;
}

menu {
  flex: 1;
  display: flex;
  flex-direction: row !important;
  list-style: none;
}

menu .nav-item {
  padding: 0 0.3em;
}

