body {
    background-color:rgb(157, 199, 218);
    color: #1c2b34;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

header {
    padding-top: 2em;
    background-color: #2f4858;
    color: #e6f0f5;
    flex: 0 80px;
}

main {
    background-color: #9fbfcd;
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.central-panel {
  width: min(520px, 92vw);
  height: 360px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
  

  background-color: #9fbfcd;
  
  border: 2px solid rgba(255, 255, 255, 0.45);
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.18);

  gap: 1.25rem;
  padding: 2em;
}

.icon-btn {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn {
    background-color: rgba(255, 255, 255, 0.45);
}

footer {
    flex: 0 30px;
    background-color: #2f4858;
    color: #e6f0f5;
    padding-bottom: 1em;
}

menu {
  flex: 1;
  display: flex;
  flex-direction: row !important;
  list-style: none;
}

menu .nav-item {
  padding: 0 0.3em;
}

